<config>
    <modules>
        <EcomDev_SphinxSeo>
            <version>1.0.5</version>
        </EcomDev_SphinxSeo>
    </modules>
    <global>
        <models>
            <ecomdev_sphinxseo>
                <class>EcomDev_SphinxSeo_Model</class>
                <resourceModel>ecomdev_sphinxseo_resource</resourceModel>
            </ecomdev_sphinxseo>
            <ecomdev_sphinxseo_resource>
                <class>EcomDev_SphinxSeo_Model_Resource</class>
                <entities>
                    <option_url>
                        <table>ecomdev_sphinx_seo_option_url</table>
                    </option_url>
                    <index_url>
                        <table>ecomdev_sphinx_seo_index_url</table>
                    </index_url>
                    <index_text>
                        <table>ecomdev_sphinx_seo_index_text</table>
                    </index_text>
                    <text>
                        <table>ecomdev_sphinx_seo_text</table>
                    </text>
                    <text_url>
                        <table>ecomdev_sphinx_seo_text_url</table>
                    </text_url>
                    <text_filter>
                        <table>ecomdev_sphinx_seo_text_filter</table>
                    </text_filter>
                    <text_category>
                        <table>ecomdev_sphinx_seo_text_category</table>
                    </text_category>
                </entities>
            </ecomdev_sphinxseo_resource>
            <ecomdev_sphinx>
                <rewrite>
                    <url_builder>EcomDev_SphinxSeo_Model_Url_Builder</url_builder>
                </rewrite>
            </ecomdev_sphinx>
        </models>
        <blocks>
            <ecomdev_sphinxseo>
                <class>EcomDev_SphinxSeo_Block</class>
            </ecomdev_sphinxseo>
        </blocks>
        <helpers>
            <ecomdev_sphinxseo>
                <class>EcomDev_SphinxSeo_Helper</class>
            </ecomdev_sphinxseo>
        </helpers>

        <resources>
            <ecomdev_sphinxseo_setup>
                <setup>
                    <module>EcomDev_SphinxSeo</module>
                </setup>
            </ecomdev_sphinxseo_setup>
        </resources>

        <request_rewrite>
            <model>ecomdev_sphinxseo/url_rewrite_request</model>
        </request_rewrite>

        <index>
            <indexer>
                <ecomdev_sphinxseo_attribute_url>
                    <model>ecomdev_sphinxseo/indexer_url_attribute</model>
                </ecomdev_sphinxseo_attribute_url>

                <ecomdev_sphinxseo_text>
                    <model>ecomdev_sphinxseo/indexer_text</model>
                </ecomdev_sphinxseo_text>
            </indexer>
        </index>

    </global>

    <ecomdev>
        <sphinxseo>
            <category>
                <attributes>
                    <name/>
                    <description/>
                    <custom_layout_update/>
                    <landing_page/>
                    <meta_description/>
                    <meta_keywords/>
                    <meta_title/>
                    <page_layout/>
                </attributes>
            </category>
        </sphinxseo>
    </ecomdev>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ecomdev_sphinxseo after="Mage_Adminhtml">EcomDev_SphinxSeo_Adminhtml</ecomdev_sphinxseo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <events>
            <ecomdev_sphinx_init_category_view>
                <observers>
                    <ecomdev_sphinxseo>
                        <class>ecomdev_sphinxseo/observer</class>
                        <method>checkSeoText</method>
                    </ecomdev_sphinxseo>
                </observers>
            </ecomdev_sphinx_init_category_view>
            <ecomdev_sphinx_json_response>
                <observers>
                    <ecomdev_sphinxseo>
                        <class>ecomdev_sphinxseo/observer</class>
                        <method>renderWholeContent</method>
                    </ecomdev_sphinxseo>
                </observers>
            </ecomdev_sphinx_json_response>
        </events>
    </frontend>

    <adminhtml>
        <events>
            <ecomdev_sphinx_attribute_form_create_fields>
                <observers>
                    <ecomdev_sphinxseo>
                        <class>ecomdev_sphinxseo/observer</class>
                        <method>attachSeoAttributeForm</method>
                    </ecomdev_sphinxseo>
                </observers>
            </ecomdev_sphinx_attribute_form_create_fields>
            <ecomdev_sphinx_attribute_set_data_from_array_before>
                <observers>
                    <ecomdev_sphinxseo>
                        <class>ecomdev_sphinxseo/observer</class>
                        <method>setUrlSlugs</method>
                    </ecomdev_sphinxseo>
                </observers>
            </ecomdev_sphinx_attribute_set_data_from_array_before>
            <ecomdev_sphinx_attribute_validate>
                <observers>
                    <ecomdev_sphinxseo>
                        <class>ecomdev_sphinxseo/observer</class>
                        <method>validateSeoAttribute</method>
                    </ecomdev_sphinxseo>
                </observers>
            </ecomdev_sphinx_attribute_validate>
            <ecomdev_sphinx_attribute_load_after>
                <observers>
                    <ecomdev_sphinxseo>
                        <class>ecomdev_sphinxseo/observer</class>
                        <method>afterAttributeLoad</method>
                    </ecomdev_sphinxseo>
                </observers>
            </ecomdev_sphinx_attribute_load_after>
            <ecomdev_sphinx_attribute_save_after>
                <observers>
                    <ecomdev_sphinxseo>
                        <class>ecomdev_sphinxseo/observer</class>
                        <method>afterAttributeSave</method>
                    </ecomdev_sphinxseo>
                </observers>
            </ecomdev_sphinx_attribute_save_after>
        </events>
        <layout>
            <updates>
                <ecomdev_sphinxseo>
                    <file>ecomdev/sphinxseo.xml</file>
                </ecomdev_sphinxseo>
            </updates>
        </layout>
    </adminhtml>
</config>
